<h1>Juego del Ahorcado</h1>

<p>Categoría: {{ categoriaActual }}</p>

<p>Puntaje: {{ puntaje }}</p>

<p>Tiempo restante: {{ tiempo }} segundos</p>

<h2>{{ obtenerPalabraOculta() }}</h2>

<div class="controles">
    <input 
    type="text"
    maxlength="1"
    [(ngModel)]="letraIngresada"
    [disabled]="juegoTerminado"
    />

    <button 
        (click)="intentarLetra()"
        [disabled]="juegoTerminado">
        Intentar
    </button>
</div>

<p>Errores: {{ errores }}/{{ maxErrores }}</p>

<div class="ahorcado">

    @if (errores >= 1) {
    <div> O </div>
  }

  @if (errores == 2) {
    <div> | </div>
  }

  @if (errores == 3) {
    <div>/|</div>
  }

  @if (errores >= 4) {
    <div>/|\</div>
  }

  @if (errores == 5) {
    <div>/ </div>
  }

  @if (errores >= 6) {
    <div>/ \</div>
  }

</div>

@if (mensaje !== '') {
    <h3>{{ mensaje }}</h3>
}

<div class="reinicio">
    <button (click)="reiniciarJuego()">
        Reiniciar Juego
    </button>
</div>
